Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

I import the following libraries

In [1]:
import pandas as pd
import numpy as np

I define some functions

In [ ]:
# This function flatten a list
def flatten (list):
    res = []
    for sublist in list:
        for item in sublist:
            res.append(item)
    return res

I load the data into a pandas data frame called df

In [96]:
df = pd.read_csv("table-1.csv")
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

1 I only process the cells that have an assigned borough. I Ignore cells with a borough that is "Not assigned".

In [97]:
df = df[df['Borough'] != 'Not assigned']
df.index = np.arange(len(df))
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

2 If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.

In [98]:
#I get the list, called ln, of indices of the rows with "not assigned" Neighbourhood 
ln = df[df.Neighbourhood == 'Not assigned'].index.values.tolist()

for index in ln:
    df.iloc[index]['Neighbourhood'] = df.iloc[index]['Borough']
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

3 More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma

In [99]:
# I get the list of all Postcode

lc = df.Postcode.unique().tolist()

todrop=[]

for jj in range(0,len(lc)):
    df2 = df[df.Postcode == lc[jj]]
    if len(df2) > 1:
        
        #I get the list of indices of df2
        nn = df2.index.tolist()
        
        #I extract the corresponding values in the list val
        val = []
        for ind in nn:
            val.append(df.iloc[ind]['Neighbourhood'])
        
        # I select the first no trivial index of nn and I put there the list
        num = nn.pop(0)
        df.iloc[num]['Neighbourhood']  = str(", ".join(val))
        
        #I keep the indices that I'd like to eliminate
        todrop.append(nn)
       
      
df.drop(flatten(todrop),inplace=True)
df.index = np.arange(len(df))
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

In [101]:
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

I print the shape of the dataframe

In [102]:
df.shape

(103, 3)